html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote::before, blockquote::after,
q::before, q::after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Do not write a css rule above here! Use the space below  */


/* Write your css below here */

header{
    background-color:#130606;
    height: 100px;

}

nav{
    display: flex;
    align-items: center;
    height: 100%;
}

nav .headerright{
    /* margin-left: 300px; */
    flex: 800;
}
nav .headerleft{
    flex: 2;

}
header nav ul{
    height: 100%;
    display: flex;
    /* background-color: #c499ec; */
    justify-content: flex-end;
    padding-right: 300px;
    gap: 60px;
    align-items: center;

}
img{
    height: 40px;
}
main{
    display: flex;
    height: 80vh;
    
}
.mainleft{
    background-color:aliceblue;
    flex: 8;
    padding: 15px;
}

.mainright{
    background-color:whitesmoke;
    flex: 3;
}

 .shootingstars{
    background-color:aliceblue;
    padding: 10px;
    display: flex;
}

.shooting-img{
    /* background-color:#3b3939;  */
    /* padding: 5px; */
}

.shooting-text{

    background-color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.shooting-text h2{
    color: red;
    font-size: 30px;
}
.shooting-text p{
    color: black;
}





@media screen and (max-width:600px){
    header nav ul{
        position:absolute;
        top: 0;
        right: 0;
        height: 150px;
        flex-direction: column;
    background-color: #c499ec;
    justify-content: flex-start;
    padding-right: 200px;
    gap: 0px;
    align-items: center;
    }
    header nav  ul li{
        margin-top: 7px;
    }
    header nav  ul li a{
        color: inherit;
    }
    
}